/* =============== Reset =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/texture.jpg);
    margin: 0;
}

.header-mobile {
    display: none;
}

/* =============== Desktop Viewport =============== */

/* =============== Header ===============*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #4E0707;
    top: 0;
    position: sticky;
    z-index: 2;
    width: 100%;
}

#mk-logo {
    height: 70px;
}

/* =============== Desktop =============== */
nav ul {
    font-family: 'Saira', sans-serif;
    list-style-type: none;
    font-size: 1.50rem;
    display: flex;
    gap: 4rem;
    margin-right: 90px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 550;
}

.mobile-nav {
    display: none;
} 

.mobile {
    display: none;
}

/* =============== NAV ===============*/

.menu-icon {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    display: block;
    position: relative;
    right: 10px;
    top: 20px;
}

/* =============== Mobile navigation =============== */
.mobile-nav {
    display: block; /* Hidden by default */
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background-color: #4E0707;
    z-index: 3;
}

#menu-links {
    display: none;
}

/* =============== Home =============== */

/* =============== Top Content =============== */
.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    background-color: #280303;
    border-bottom-right-radius: 450px;
}

.top .first-content {
    flex: 1;
    min-width: 280px;
    color: #fff;
    margin: 5%;
}

.top h1 {
    font-size: 3.75rem;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Saira', sans-serif;
}

.top p {
    font-size: 1.75rem;
    line-height: 1.6;
    font-family: 'Mulish', sans-serif;
    text-indent: 4rem;
    text-align: justify;
    float: left;
    margin-top: 5%;
}

.top .image-top img {
    max-width: 80%; 
    height: auto; 
    margin-left: 10%;
    margin-right: 5%;
    float: right;
    z-index: 1;
}


/* =============== About =============== */
.about {
    background-image: url(/images/texture.jpg);
    padding: 50px 40px;
    color: #280303;
}

.about h1 {
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-size: 3.75rem;
    line-height: 1.2;
    margin-top: 5%;
    position: relative;
}

.about h1::before, .about h1::after {
    content: "";
    position: absolute;
    top: 50%; 
    width: 30%;
    height: 10px; 
    background-color: #280303; 
}

.about h1::before {
    left: 80px; 
}

.about h1::after {
    right: 80px;
}

.about p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.75rem;
    line-height: 1.6;
    text-indent: 2rem;
    text-align: justify;
    margin: 3% 7%;
}


/* =============== Specialty ===============*/
.specialty {
    width: 100%;
    padding: 50px 40px;
    margin: 5% auto;
    text-align: center;
    background-color: #280303;
}

.specialty h1 {
    font-family: 'Saira', sans-serif;
    font-size: 3.75rem;
    line-height: 1.2;
    color: #fff;
}

.dish-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 3% auto;
}

.steak, .sisig {
    flex: 1;
    margin: 1rem;
    max-width: 45%;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85);
}

.steak img, .sisig img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.steak p, .sisig p {
    text-align: justify;
    font-size: 1.75rem;
    font-family: 'Mulish', sans-serif;
    margin: auto;
    color: #280303;
    padding: 5px;
}

/* =============== Button =============== */
.menu-button {
    padding: 15px 30px;
    font-size: 2rem;
    font-family: 'Saira', sans-serif;
    background-color: #fff;
    color: #280303;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 25px;
    text-decoration: none;
}

/* =============== Opening Hours =============== */
.opening-hours {
    background-image: url(/images/texture.jpg);
    font-family: 'Saira', sans-serif;
    color: #280303;
    font-weight: bold;
    font-size: 3.75rem;
    text-align: center;
    position: relative;
}

.opening-hours h1 {
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-size: 3.75rem;
    line-height: 1.2;
    position: relative;
    margin-bottom: 2%;
}

.opening-hours h1::before, .opening-hours h1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 25%;
    height: 10px;
    background-color: #280303;
}

.opening-hours h1::before {
    left: 80px; 
}

.opening-hours h1::after {
    right: 80px;
}

.mobile-food-name {
    display: none;
}

/* =============== Table =============== */
.opening-hours {
    padding: 15px 30px;
    margin-bottom: 5%;
}

.opening-hours caption {
    margin: 2%;
}

.opening-hours table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    border: solid 5px #280303;
    text-align: left;
}

/* =============== feedback ===============*/
.feedback {
    position: relative;
    min-height: 65vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.introduction {
    position: absolute;
    top: 38%;
    left: 12%;
    z-index: 1;
    color: white;
    text-align: left;
    font-family: 'Saira', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.introduction h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    line-height: 1.2;
    font-family: 'Saira', sans-serif;
    color: #fff;
    margin-bottom: 20px;
}

.introduction p {
    font-size: clamp(1rem, 3vw, 2rem);
    line-height: 1.5;
    font-family: 'Saira', sans-serif;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

.feedback-container {
    position: absolute;
    right: 12%;
    top: 7%;
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 671px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.feedback-container h2 {
    font-size: 1.5rem;
    color: #280303;
    margin-bottom: 10px;
    font-family: 'Saira', sans-serif;
    font-weight: 500;
}

.feedback-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

#submit, #reset {
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Saira', sans-serif;
    width: 120px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

#submit {
    background-color: #280303;
    color: #fff;
}

#reset {
    background-color: #fff;
    color: #280303;
    border: 2px solid #280303;
}

/* =============== Footer =============== */
footer {
    background-color: #280303;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    margin-top: 0;
    flex-shrink: 0;

}

#image-footer {
    height: 120px;
}

.social-icons i {
    color: #fff;
    margin: 0 15px;
    font-size: 40px;
    margin-bottom: 10px;
}

.copyright {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

/* =============== Contact =============== */
.location {
    text-align: center;
    margin-bottom: 3%;
    color: #280303;
    font-family: 'Saira', sans-serif;
    margin-top: 3%;
}

.location img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1%;
}

.location-map h1 {
    font-weight: 600;
    font-size: 3.75rem;
    text-align: center; 
    font-style: normal;
    line-height: 100%;
    margin-bottom: 2%;
}

.location-map p {
    font-weight: 600;
    font-style: italic;
}

.social-icons-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    line-height: 100%;
    text-align: center;
    
}

.social-icons-contacts a {
    margin: 1% 0;
    color: #280303;
    font-size: 24px;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
}

.fab {
    margin-right: 1%;
}

/* =============== Menu Page =============== */
.menu-container {
    background-color: #280303;
}
.food {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

.item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.item h1, .item p {
    color: #280303;
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
}

.item h1 {
    font-size: 55px;
}

.item p {
    font-size: 20px;
}

.soup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.beverage {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.title {
    color: #fff;
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-size: 60px;
    font-style: normal;
}

/* =============== Effects =============== */

/* =============== Header =============== */

.tablet-desktop a {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.tablet-desktop a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
    transform: translateY(50%);
}

.tablet-desktop a:hover::before {
    width: 100%;
    left: 0;
}

/* =============== Top =============== */
.top .image-top img {
    transition: transform 0.5s ease-in-out; 
}

.top .image-top img:hover {
    transform: rotate(10deg) scale(1.2); 
}

/* =============== Menu Button =============== */
.menu-button {
    transition: transform 0.5s ease, background-color 0.2s ease; 
}

.menu-button:hover {
    transform: scale(1.1);
    background-color: #280303; 
    color: #fff;
}

/* =============== Feedback Buttons =============== */
.feedback-container #submit, .feedback-container #reset {
    transition: transform 0.5s ease, background-color 0.2s ease;
}

.feedback-container #submit:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #280303;
    border: 2px solid #280303;
    text-align: center;
}

.feedback-container #reset:hover {
    transform: scale(1.1);
    background-color: #280303;
    color: #fff;
    text-align: center;
}

/* =============== Location =============== */
.location img {
    transition: transform 0.5s ease;
}
.location img:hover {
    transform: scale(1.1);
}

/* =============== Tablet Viewport =============== */

@media screen and (min-width: 766px) and (max-width: 1024px) {

    nav ul {
        margin-right: auto;
    }

    .top {
        border-bottom-right-radius: 0;
    }

    .top h1 {
        text-align: center;
    }

    .top .image-top img {
        display: none;
    }

    /* =============== Specialty =============== */
    .tablet-food {
        display: block;
        font-size: 35px !important;
        color: #280303 !important; 
        font-family: 'Saira', sans-serif;
        text-align: center;
    }

    /* =============== Effects for Specialty =============== */
    .dish-container {
        transition: transform 0.5s ease-in-out;
    }
    
    .dish-container img:hover {
        transform: scale(1.02);
    }

    .steak p, .sisig p {
        display: none;
    }

    .opening-hours table {
        width: 50%;
    }

    .opening-hours {
        font-size: 2.2rem;
    }

    .opening-hours h1::before, .opening-hours h1::after {
        display: none;
    }

    .about h1::before, .about h1::after {
        display: none;
    }

    .introduction {
        display: none;
    }

    /* =============== Feedback =============== */
    .feedback {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        position: relative;
    }

    .feedback-container {
        position: absolute;
        left: 50%;
        top: 50%; 
        transform: translate(-50%, -50%); 
        max-width: 600px;
        width: 90%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .feedback-container h2 {
        font-size: 1rem;
        color: #280303;
        margin-bottom: 10px;
        font-family: 'Saira', sans-serif;
        font-weight: 500;
    }
    

    .background-video {
        height: 100%;
    }

    footer {
        margin-top: 5%;
    }

    /* =============== Menu =============== */
    .food {
        grid-template-columns: repeat(2, 1fr);
    }

    .item h1 {
        font-size: 30px;
    }

    .item p {
        font-size: 16px;
    }
}


/* =============== Mobile Viewport =============== */

@media only screen and (max-width: 765px) {

    /* =============== nav =============== */
    .mobile-nav {
        display: block;
    }

    /* =============== additional =============== */
    .mobile-nav.active {
        display: block;
    }

    .menu-icon {
        font-size: 2.5rem;
        color: #fff;
        cursor: pointer;
        z-index: 5;
    }

    /* =============== End of additional =============== */

    #mk-logo {
        height: 50px;
        left: 0;
        padding: 0;
        margin: 0;
    }

    .top h1, .about h1, .specialty h1, .menu-container h1 {
        text-align: center;
        font-size: 34px;
    }

    .top p, .about p {
        font-size: 22px;
        text-indent: 0;
    }

    .tablet-desktop {
        display: none;
    }

    .top .image-top img {
        display: none;
    }

    /* =============== Specialty =============== */
    .steak p, .sisig p {
        display: none;
    }

    .dish-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        margin: 3% auto;
        flex-direction: column;
        align-items: center;
    }

    .steak, .sisig {
        max-width: 100%;
        height: 1%;   
    }

    .dish-container {
        transition: transform 0.5s ease-in-out;
    }
    
    .dish-container img:hover {
        transform: scale(1.02);
    }

    .mobile-food-name {
        display: block;
        font-size: 35px !important;
        color: #280303 !important;
        font-family: 'Saira', sans-serif;
        text-align: center;
    }

    .feedback {
        display: none;
    }

    .about h1::before, .about h1::after {
        display: none;
    }

    .top {
        border-bottom-right-radius: 0;
    }

    .mobile {
        display: block;
    }

    /* =============== Opening Hours =============== */
    .opening-hours-mobile {
        font-family: 'Saira', sans-serif;
        color: #280303;
        padding: 0 40px;
        border-radius: 10px;
        margin-bottom: 5%;
        
    }

    .opening-hours-mobile h1{
        text-align: center;
        font-size: 34px;
    }

    .hours {
        font-size: 20px;
    }

    .hours p {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .days {
        font-weight: bold;
        flex: 1;
        text-align: left;
    }

    .times {
        flex: 1;
        text-align: right;
        font-size: 20px;
        font-weight: 500;
    }

    /* =============== Menu =============== */
    .food, .soup {
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        margin: auto;
        height: auto;
    }

    .item h1 {
        font-size: 30px;
    }

    .item p {
        font-size: 16px;
    }

    /* =============== Footer =============== */
    #image-footer {
        height: 80px;
    }

    .social-icons i {
        color: #fff;
        margin: 0 15px;
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .copyright {
        font-family: 'Mulish', sans-serif;
        font-size: 10px;
    }

    /* =============== Location =============== */
    .location h1 {
        margin-top: 10%;
        font-size: 32px;
    }

    .location img {
        margin-top: 2%;
        width: 75%;
    }

    .location-map p {
        font-size: 10px;
    }

    .social-icons-contacts a {
        font-size: 15px;
        margin-bottom: 4%;
    }

    header {
        display: none;
    }

    /* =============== header mobile =============== */

    .header-mobile {
        display: block;
        position: sticky;
        top: 0;
        z-index: 2;
        position: relative;
    }

    .header-mobile #mk-logo-mobile {
        top: 0;
        background-color: #4E0707;

    }

    #mk-logo-mobile img {
        height: 70px;
        margin: 2%;
    }

    .mobile-nav a {
        color: #fff;
        font-family: 'Saira', sans-serif;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        padding: 2%;
        display: block;
    }
    
    .mobile-nav #menu-links a {
        color: #280303;
    }

    .mobile-nav a.menu-icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 3em;
    }

    .mobile-nav ul {
        display: none; 
        list-style: none;
        padding: 20px;
        text-align: center;
    }

    .mobile-nav ul li {
        margin: 15px 0;
    }

    .mobile-nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-family: 'Saira', sans-serif;
    }

    .hamburger-bar {
        color: #fff;
        transition: background-color 0.3s ease;
    }

}

/* =============== For Print =============== */

@media print {
    * {
        background-color: #fff;
        color: #000;
        margin: 0;
        padding: 0;
    }

    img, .feedback, footer, header, .opening-hours, button, a {
        display: none;
    }

    .about h1::before, .about h1::after  {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 1rem;
    }

    p {
        font-size: 14px;
    }

    .specialty h1 {
        color: #000;
    }
}